*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif;
    color: #fff;
}

a, a:visited  {
  color: #fff;
}

.hidden {
    display: none;
}

.flex {
  display: flex;
}

.flex-column {
  flex-direction: column;
}

.input {
  width: 100%;
  height: 50px;
  background: transparent;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: white;
  padding: 20px 45px 20px 20px;
}

.form {
  background-color: black;
  border: 2px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(12px);
  border-radius: 10px;
  padding: 30px 40px;
  background: transparent;
  gap: 16px;
}

.form h1 {
  font-weight: 500;
  margin-bottom: 8px;
}

.btn {
  width: 100%;
  min-width: 250px;
  height: 40px;
  outline: none;
  border: 2px solid rgba(255, 255, 255, 0.2);
  border-radius: 20px;
  color: #fff;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  cursor: pointer;
}

#home-container {
  background: url('asset/background.png') no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: flex-end;
}

#home-container .form {
  max-width: 350px;
  margin-bottom: 10dvh;
}

#about-container {
  gap: 8px;
  margin-bottom: 20dvh;
}

#game-room-container {
  background: url('asset/game_room.png') no-repeat center/cover;
  width: 100vw;
  height: 100vh;
  align-items: center;
  justify-content: center;
  gap: 16px;
}

#game-room-container .btn {
  width: 250px;
}

#player-info {
  padding: 20px;
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  border-radius: 20px;
}

#status-text {
  font-size: 36px;
}

/* startmenu */
#start-menu {
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-bottom: 20dvh;
}

#players-container {
  width: 100%;
  justify-content: center;
  gap: 16px;
}

#room-number-text {
  font-size: 20px;
  margin-bottom: 16px;
}

#game-container {
  position: relative;
}

#time-remaining-label {
  position: absolute;
  top: 20px;
  left: 20px;
}

.message {
  color: crimson;
}

.player-info {
  align-items: center;
  flex-shrink: 0;
  gap: 8px;
}

.player-info:nth-child(1) {
  align-self: end;
}

.player-info:nth-child(2) {
  align-self: start;
}

.player-avatar {
  height: 64px;
  width: 64px;
  border-radius: 50%;
}
